graphsolver/target/
graphsolver/pom.xml.tag
graphsolver/pom.xml.releaseBackup
graphsolver/pom.xml.versionsBackup
graphsolver/pom.xml.next
graphsolver/release.properties
graphsolver/dependency-reduced-pom.xml
graphsolver/buildNumber.properties
graphsolver/.mvn/timing.properties
graphsolver/.mvn/wrapper/maven-wrapper.jar

heuristic_server/__pycache__/
